STEP 1: LOAD NEEDED PACKAGES, EXPLORE DATAFRAMES, VARIABLES

In [1]:
# import needed packages/libraries
import os 
import pandas as pd
import openpyxl

In [11]:
# import data 
df_euroSciVoc = pd.read_excel('euroSciVoc.xlsx')
df_projectDeliverables = pd.read_excel('projectDeliverables.xlsx')
df_projectPublications = pd.read_excel('projectPublications.xlsx')
df_legalBasis = pd.read_excel('legalBasis.xlsx')
df_organization = pd.read_excel('organization.xlsx')
df_project = pd.read_excel('project.xlsx')
df_topics = pd.read_excel('topics.xlsx')
df_webLink = pd.read_excel('webLink.xlsx')
df_reportSummaries = pd.read_excel('reportSummaries.xlsx')

C:\Users\Marte\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Marte\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Marte\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Marte\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Marte\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Marte\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Marte\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Marte\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [13]:
# print fist few rows to see if loading was done correctly 
print(df_projectDeliverables.head()) 
print(df_projectPublications.head())
print(df_euroSciVoc.head()) 
print(df_legalBasis.head())
print(df_organization.head())
print(df_project.head())
print(df_topics.head())
print(df_webLink.head())
print(df_reportSummaries.head())

                          id  \
0  101071179_10_DELIVHORIZON
1   101072491_9_DELIVHORIZON
2   101066116_3_DELIVHORIZON
3  101064988_11_DELIVHORIZON
4  101071179_51_DELIVHORIZON

                                               title  \
0    Technical/scientific review meeting 2 documents
1                            MIRELAI project website
2       Communication, Dissemination & Outreach Plan
3  SINFONICA Knowledge map creation and System Ar...
4                  Report on Portfolio activities 01

                          deliverableType  \
0                      Documents, reports
1  Websites, patent fillings, videos etc.
2                      Documents, reports
3                      Documents, reports
4                      Documents, reports

                                         description  projectID  \
0                     Draft agenda and presentations  101071179
1                            MIRELAI project website  101072491
2  The plan describes the planned measures to max...  101066116
3  The deliverable will be the output of Tasks 4....  101064988
4  The report will present the collaboration acti...  101071179

  projectAcronym                                                url  \
0        SUSTAIN  https://ec.europa.eu/research/participants/doc...
1        MIRELAI  https://ec.europa.eu/research/participants/doc...
2    Ship Clones  https://ec.europa.eu/research/participants/doc...
3      SINFONICA  https://ec.europa.eu/research/participants/doc...
4        SUSTAIN  https://ec.europa.eu/research/participants/doc...

            collection    contentUpdateDate      rcn
0  Project deliverable  2025-02-03 17:40:48  1246973
1  Project deliverable  2025-02-26 08:02:37  1256521
2  Project deliverable  2025-02-03 17:40:42  1246926
3  Project deliverable  2025-02-03 17:40:44  1246937
4  Project deliverable  2025-02-03 17:40:44  1246934
                              id  \
0  101040480_113381_PUBLIHORIZON
1  101040480_113371_PUBLIHORIZON
2  101040480_113383_PUBLIHORIZON
3  101040480_113375_PUBLIHORIZON
4  101040480_113374_PUBLIHORIZON

                                               title           isPublishedAs  \
0  The Microwave Rotational Electric Resonance (R...  Peer reviewed articles
1  The microwave spectra of the conformers of n-b...  Peer reviewed articles
2  Coupled internal rotations and 14N quadrupole ...  Peer reviewed articles
3  The Heavy Atom Structure, <i>“cis</i> effect” ...  Peer reviewed articles
4  Structure determination of 2,5-difluorophenol ...  Peer reviewed articles

                                             authors  \
0  Hamza El Hadki, Kenneth J. Koziol, Oum Keltoum...
1  Susanna L. Stephens, Eléonore Antonelli, Alexa...
2   Mike Barth, Isabelle Kleiner, Ha Vinh Lam Nguyen
3  Truong Anh Nguyen, Isabelle Kleiner, Martin Sc...
4  K.P. Rajappan Nair, Kevin G. Lengsfeld, Philip...

                        journalTitle journalNumber  publishedYear  \
0                          Molecules            28           2023
1  Journal of Molecular Spectroscopy           397           2024
2    The Journal of Chemical Physics           160           2024
3                       ChemPhysChem            25           2024
4     Journal of Molecular Structure          1321           2024

  publishedPages       issn isbn                             doi  projectID  \
0            NaN  1420-3049  NaN       10.3390/molecules28083419  101040480
1            NaN  0022-2852  NaN       10.1016/j.jms.2023.111824  101040480
2            NaN  0021-9606  NaN               10.1063/5.0213319  101040480
3            NaN  1439-4235  NaN          10.1002/cphc.202400387  101040480
4            NaN  0022-2860  NaN  10.1016/j.molstruc.2024.139971  101040480

  projectAcronym           collection    contentUpdateDate      rcn
0        LACRIDO  Project publication  2025-02-11 11:41:50  1243351
1        LACRIDO  Project publication  2025-02-11 11:01:16  1243327
2        LACRIDO  Project publication  2025-02-11 11:40:00  1243350
3        LACRIDO  Project publication  2025-02-11 11:11:17  1243343
4        LACRIDO  Project publication  2025-02-11 11:04:26  1243340
   projectID               euroSciVocCode  \
0  101159220               /21/33/121/621
1  101159220          /23/49/315/997/1613
2  101093997          /23/49/315/997/1611
3  101126531               /23/49/341/325
4  101126531  /21/33/121/44109686/8132740

                                      euroSciVocPath euroSciVocTitle  \
0  /medical and health sciences/health sciences/i...         malaria
1  /natural sciences/biological sciences/biochemi...        proteins
2  /natural sciences/biological sciences/biochemi...   carbohydrates
3  /natural sciences/biological sciences/microbio...        virology
4  /medical and health sciences/health sciences/i...   coronaviruses

   euroSciVocDescription
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
   projectID     legalBasis                                 title  \
0  101159220    HORIZON.2.1                                Health
1  101096150    HORIZON.3.2        European innovation ecosystems
2  101096150  HORIZON.3.2.3  Joint programmes close to innovators
3  101093997    HORIZON.2.1                                Health
4  101093997  HORIZON.2.1.1     Health throughout the Life Course

  uniqueProgrammePart
0                True
1                True
2                 NaN
3                True
4                 NaN
   projectID projectAcronym  organisationID    vatNumber  \
0  101159220      PvSeroRDT       986872084          NaN
1  101159220      PvSeroRDT       999542806          NaN
2  101159220      PvSeroRDT       889740358          NaN
3  101159220      PvSeroRDT       999912667  GB233756066
4  101159220      PvSeroRDT       999679964          NaN

                                                name  \
0                     Institut Pasteur de Madagascar
1                          INSTITUT PASTEUR DE DAKAR
2                  ARMAUER HANSEN RESEARCH INSTITUTE
3  LONDON SCHOOL OF HYGIENE AND TROPICAL MEDICINE...
4          FOUNDATION FOR INNOVATIVE NEW DIAGNOSTICS

                                   shortName    SME activityType  \
0                                        IPM  False          REC
1                                        NaN  False          REC
2                                        NaN  False          REC
3                                      LSHTM  False          HES
4  FIND, the global alliance for diagnostics  False          OTH

                               street  postCode  ...  \
0         Ambatofotsikely - Avaradoha       101  ...
1                   AVENUE PASTEUR 36     DAKAR  ...
2           JIMMA ROAD ALERT COMPOUND      1005  ...
3                       KEPPEL STREET  WC1E 7HT  ...
4  CAMPUS BIOTECH, CHEMIN DES MINES 9      1202  ...

                                         contactForm    contentUpdateDate  \
0  https://ec.europa.eu/info/funding-tenders/oppo...  2024-12-24 11:18:48
1  https://ec.europa.eu/info/funding-tenders/oppo...  2024-12-24 11:18:48
2  https://ec.europa.eu/info/funding-tenders/oppo...  2024-12-24 11:18:48
3  https://ec.europa.eu/info/funding-tenders/oppo...  2024-12-24 11:18:48
4  https://ec.europa.eu/info/funding-tenders/oppo...  2024-12-24 11:18:48

       rcn order               role ecContribution netEcContribution  \
0  1947090     4  associatedPartner            NaN              0.00
1  1906512     2        participant     1777625.00        1777625.00
2  1975141     3        participant      272174.38         272174.38
3  1906028     6  associatedPartner            NaN              0.00
4  1906308     7  associatedPartner            NaN              0.00

   totalCost  endOfParticipation active
0          0               False    NaN
1    1777625               False    NaN
2  272174,38               False    NaN
3          0               False    NaN
4          0               False    NaN

[5 rows x 25 columns]
          id        acronym  status  \
0  101159220      PvSeroRDT  SIGNED
1  101096150       BIOBoost  SIGNED
2  101093997  GlycanTrigger  SIGNED
3  101126531   CHIKVAX_CHIM  SIGNED
4  101113979      The Oater  CLOSED

                                               title   startDate     endDate  \
0  A point-of-care serological rapid diagnostic t...  2025-02-01  2030-01-31
1  Boosting innovation agencies for bioeconomy va...  2023-02-01  2025-01-31
2  GLYCANS AS MASTER TRIGGERS OF HEALTH TO INTEST...  2023-01-01  2028-12-31
3  Late-stage clinical development of Chikungunya...  2023-06-01  2028-11-30
4  The Oater develops a compact machine for hyper...  2023-07-01  2023-12-31

    totalCost ecMaxContribution   legalBasis  \
0  4062396,23        4062396,23  HORIZON.2.1
1           0            500000  HORIZON.3.2
2     6771571           6771571  HORIZON.2.1
3   100000000          70000000  HORIZON.2.1
4           0             75000  HORIZON.3.2

                                      topics ecSignatureDate  \
0  HORIZON-JU-GH-EDCTP3-2023-02-02-two-stage      2024-12-09
1             HORIZON-EIE-2022-CONNECT-01-01      2022-11-25
2           HORIZON-HLTH-2022-STAYHLTH-02-01      2022-12-05
3           HORIZON-HLTH-2022-CEPI-15-01-IBA      2023-06-15
4             HORIZON-EIE-2022-SCALEUP-02-02      2023-06-05

  frameworkProgramme                              masterCall  \
0            HORIZON  HORIZON-JU-GH-EDCTP3-2023-02-two-stage
1            HORIZON             HORIZON-EIE-2022-CONNECT-01
2            HORIZON           HORIZON-HLTH-2022-STAYHLTH-02
3            HORIZON           HORIZON-HLTH-2022-CEPI-15-IBA
4            HORIZON             HORIZON-EIE-2022-SCALEUP-02

                                  subCall   fundingScheme  nature  \
0  HORIZON-JU-GH-EDCTP3-2023-02-two-stage  HORIZON-JU-RIA     NaN
1             HORIZON-EIE-2022-CONNECT-01     HORIZON-CSA     NaN
2           HORIZON-HLTH-2022-STAYHLTH-02     HORIZON-RIA     NaN
3           HORIZON-HLTH-2022-CEPI-15-IBA  HORIZON-COFUND     NaN
4             HORIZON-EIE-2022-SCALEUP-02     HORIZON-CSA     NaN

                                           objective    contentUpdateDate  \
0  Plasmodium vivax is considered the most diffic...  2024-12-24 11:18:48
1  The overall objectives of the BIOBoost project...  2022-12-01 14:09:06
2  Chronic inflammation underlies several disease...  2022-12-11 19:02:29
3  A Framework Partnership Agreement (FPA) betwee...  2023-09-19 19:01:01
4  The Oater is a female-founded food tech start-...  2023-07-11 15:45:49

      rcn           grantDoi
0  268210  10.3030/101159220
1  243343  10.3030/101096150
2  243439  10.3030/101093997
3  256925  10.3030/101126531
4  253030  10.3030/101113979
   projectID                                      topic  \
0  101159220  HORIZON-JU-GH-EDCTP3-2023-02-02-two-stage
1  101096150             HORIZON-EIE-2022-CONNECT-01-01
2  101093997           HORIZON-HLTH-2022-STAYHLTH-02-01
3  101126531           HORIZON-HLTH-2022-CEPI-15-01-IBA
4  101113979             HORIZON-EIE-2022-SCALEUP-02-02

                                               title
0  Advancing point-of-care diagnostics to the market
1  Towards more inclusive networks and initiative...
2  Personalised blueprint of chronic inflammation...
3  CEPI 4 - Contribution to the Coalition for Epi...
4                                       Women TechEU
   projectID                                            physUrl  \
0  101096150  https://ec.europa.eu/research/participants/doc...
1  101096150  https://ec.europa.eu/research/participants/doc...
2  101096150  https://ec.europa.eu/research/participants/doc...
3  101096150  https://ec.europa.eu/research/participants/doc...
4  101096150  https://ec.europa.eu/research/participants/doc...

                                 id availableLanguages  status  archivedDate  \
0  8c752a748e9138458797f2812762ac38                 en     NaN           NaN
1  72690dd7bb355fdca270488e46dff1cf                 en     NaN           NaN
2  e48d19a29dd1f9417917f29c657ed922                 en     NaN           NaN
3  63324d042781ae76e788722be75f3b8a                 en     NaN           NaN
4  8f80a9b0040e38ad9ac7c546c280cbd5                 en     NaN           NaN

                 type source represents
0  projectDeliverable  corda    project
1  projectDeliverable  corda    project
2  projectDeliverable  corda    project
3  projectDeliverable  corda    project
4  projectDeliverable  corda    project
                    id                                              title  \
0  101066069_PSHORIZON  Periodic Reporting for period 1 - ERASMUS (Ear...
1  101073231_PSHORIZON  Periodic Reporting for period 1 - OncoProTools...
2  101068156_PSHORIZON  Periodic Reporting for period 1 - BLISS (Beta-...
3  101072180_PSHORIZON  Periodic Reporting for period 1 - Green2Ice (W...
4  101063407_PSHORIZON  Periodic Reporting for period 1 - GHost (His E...

   projectID projectAcronym  \
0  101066069        ERASMUS
1  101073231   OncoProTools
2  101068156          BLISS
3  101072180      Green2Ice
4  101063407          GHost

                                          attachment    contentUpdateDate  \
0                                                NaN  2025-03-17 10:38:00
1  /docs/results/horizon/101073/101073231_PS/2024...  2025-03-18 12:31:34
2  /docs/results/horizon/101068/101068156_PS/pict...  2025-03-05 11:47:45
3  /docs/results/horizon/101072/101072180_PS/2023...  2025-02-14 10:36:27
4  /docs/results/horizon/101063/101063407_PS/pa-1...  2025-02-26 17:32:14

       rcn
0  1267558
1  1270628
2  1260626
3  1252991
4  1257475

STEP 2: MERGING DATAFRAMES

In [17]:
# Display the columns of each dataframe to check for a variable to merge on 
print(df_projectDeliverables.columns) 
print(df_projectPublications.columns)
print(df_euroSciVoc.columns) 
print(df_legalBasis.columns)
print(df_organization.columns)
print(df_project.columns) # does not have a projectID, merge on id?
print(df_topics.columns)
print(df_webLink.columns)
print(df_reportSummaries.columns)

Index(['id', 'title', 'deliverableType', 'description', 'projectID',
       'projectAcronym', 'url', 'collection', 'contentUpdateDate', 'rcn'],
      dtype='object')
Index(['id', 'title', 'isPublishedAs', 'authors', 'journalTitle',
       'journalNumber', 'publishedYear', 'publishedPages', 'issn', 'isbn',
       'doi', 'projectID', 'projectAcronym', 'collection', 'contentUpdateDate',
       'rcn'],
      dtype='object')
Index(['projectID', 'euroSciVocCode', 'euroSciVocPath', 'euroSciVocTitle',
       'euroSciVocDescription'],
      dtype='object')
Index(['projectID', 'legalBasis', 'title', 'uniqueProgrammePart'], dtype='object')
Index(['projectID', 'projectAcronym', 'organisationID', 'vatNumber', 'name',
       'shortName', 'SME', 'activityType', 'street', 'postCode', 'city',
       'country', 'nutsCode', 'geolocation', 'organizationURL', 'contactForm',
       'contentUpdateDate', 'rcn', 'order', 'role', 'ecContribution',
       'netEcContribution', 'totalCost', 'endOfParticipation', 'active'],
      dtype='object')
Index(['id', 'acronym', 'status', 'title', 'startDate', 'endDate', 'totalCost',
       'ecMaxContribution', 'legalBasis', 'topics', 'ecSignatureDate',
       'frameworkProgramme', 'masterCall', 'subCall', 'fundingScheme',
       'nature', 'objective', 'contentUpdateDate', 'rcn', 'grantDoi'],
      dtype='object')
Index(['projectID', 'topic', 'title'], dtype='object')
Index(['projectID', 'physUrl', 'id', 'availableLanguages', 'status',
       'archivedDate', 'type', 'source', 'represents'],
      dtype='object')
Index(['id', 'title', 'projectID', 'projectAcronym', 'attachment',
       'contentUpdateDate', 'rcn'],
      dtype='object')

In [35]:
# print potential variables to merge on
df_project['id'].head()
df_projectDeliverables['projectID'].head()
df_projectPublications['projectID'].head()
df_euroSciVoc['projectID'].head()
df_legalBasis['projectID'].head()
df_organization['projectID'].head()
df_topics['projectID'].head()
df_webLink['projectID'].head()
df_reportSummaries['projectID'].head()

0    101066069
1    101073231
2    101068156
3    101072180
4    101063407
Name: projectID, dtype: int64

In [53]:
# Rename id in df_project to facilitate merging
df_project_copy = df_project.copy()
df_project_copy.rename(columns={'id': 'projectID'}, inplace=True)
df_project_copy.head()

In [59]:
# Merging dataframes 
dataframes = [
    df_projectDeliverables,
    df_projectPublications,
    df_euroSciVoc,
    df_legalBasis,
    df_organization,
    df_topics,
    df_webLink,
    df_reportSummaries
]

for df in dataframes: 
    df_merged = df_project_copy.merge(df, on='projectID', how='left')

In [65]:
# Check if merging is done well
df_merged.info()
df_merged.head()
df_merged.columns # double columns such as title, contentUpdateDate, rcn and acronymn

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15863 entries, 0 to 15862
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   projectID            15863 non-null  int64
 1   acronym              15863 non-null  object
 2   status               15863 non-null  object
 3   title_x              15863 non-null  object
 4   startDate            15863 non-null  object
 5   endDate              15863 non-null  object
 6   totalCost            15863 non-null  object
 7   ecMaxContribution    15863 non-null  object
 8   legalBasis           15863 non-null  object
 9   topics               15863 non-null  object
 10  ecSignatureDate      15862 non-null  object
 11  frameworkProgramme   15863 non-null  object
 12  masterCall           15863 non-null  object
 13  subCall              15863 non-null  object
 14  fundingScheme        15863 non-null  object
 15  nature               0 non-null      float64
 16  objective            15863 non-null  object
 17  contentUpdateDate_x  15863 non-null  object
 18  rcn_x                15863 non-null  int64
 19  grantDoi             15802 non-null  object
 20  id                   3681 non-null   object
 21  title_y              3681 non-null   object
 22  projectAcronym       3681 non-null   object
 23  attachment           1820 non-null   object
 24  contentUpdateDate_y  3681 non-null   object
 25  rcn_y                3681 non-null   float64
dtypes: float64(2), int64(2), object(22)
memory usage: 3.1+ MB

Index(['projectID', 'acronym', 'status', 'title_x', 'startDate', 'endDate',
       'totalCost', 'ecMaxContribution', 'legalBasis', 'topics',
       'ecSignatureDate', 'frameworkProgramme', 'masterCall', 'subCall',
       'fundingScheme', 'nature', 'objective', 'contentUpdateDate_x', 'rcn_x',
       'grantDoi', 'id', 'title_y', 'projectAcronym', 'attachment',
       'contentUpdateDate_y', 'rcn_y'],
      dtype='object')

In [63]:
# check to see if the projectID is unique - the case
df_merged['projectID'].is_unique #TRUE

True

STEP 3: INVESTIGATE DUPLICATE COLULMNS

In [77]:
# Check columns with the same name
df_merged.columns[df_merged.columns.str.contains(r'_x$|_y$|\.1$')]

Index(['title_x', 'contentUpdateDate_x', 'rcn_x', 'title_y',
       'contentUpdateDate_y', 'rcn_y'],
      dtype='object')

To check columns title_x and title_y

In [111]:
# to see how many titles are the same between the two columns
(df_merged['title_x'] == df_merged['title_y']).value_counts()

0

In [89]:
# identify rows where titles are not equal between the two columns
df_merged[df_merged['title_x'] != df_merged['title_y']][['title_x', 'title_y']]

,title_x,title_y
0,A point-of-care serological rapid diagnostic t...,NaN
1,Boosting innovation agencies for bioeconomy va...,Periodic Reporting for period 1 - BIOBoost (Bo...
2,GLYCANS AS MASTER TRIGGERS OF HEALTH TO INTEST...,Periodic Reporting for period 1 - GlycanTrigge...
3,Late-stage clinical development of Chikungunya...,NaN
4,The Oater develops a compact machine for hyper...,Periodic Reporting for period 1 - The Oater (T...
...,...,...
15858,EUCYS Leiden2022,Periodic Reporting for period 1 - EUCYS2022 (E...
15859,Support to Retirement Savings Vehicle for Euro...,NaN
15860,European City of Science and EuroScience Open ...,Periodic Reporting for period 1 - Leiden2022-E...
15861,European Union Contest for Young Scientists (E...,NaN
15862,"Citizen-Oriented Valorisation for Advancement,...",NaN

In [105]:
# print to see the 20 projects (to see if titles overlap, ...)
df_merged[df_merged['title_x'] != df_merged['title_y']][['projectID', 'title_x', 'title_y']].sample(20)

0

In [113]:
# check if there are missings for both title pages 
(df_merged['title_x'].isna() & df_merged['title_y'].isna()).sum() #based on the explorative analysis, title x is kept

0

In [115]:
# check if title_x has any missings (0, so title_y can be left out, title_y has 12182 missing) 
df_merged['title_x'].isna().sum()

0

In [138]:
df_merged['title_y'].isna().sum()

12182

To check to columns rcn_x and rcn_y

In [122]:
# to see how many crn's are the same between the two columns
(df_merged['rcn_x'] == df_merged['rcn_y']).value_counts()

False    15863
Name: count, dtype: int64

In [126]:
# identify rows where rcn's are not equal between the two columns
df_merged[df_merged['rcn_x'] != df_merged['rcn_y']][['rcn_x', 'rcn_y']]

        rcn_x      rcn_y
0      268210        NaN
1      243343  1228984.0
2      243439  1176202.0
3      256925        NaN
4      253030  1090108.0
...       ...        ...
15858  241771  1081188.0
15859  257324        NaN
15860  241770  1081185.0
15861  262788        NaN
15862  257695        NaN

[15863 rows x 2 columns]

In [130]:
# print to see the 20 projects (to see if titles overlap, ...)
df_merged[df_merged['rcn_x'] != df_merged['title_y']][['projectID', 'rcn_x', 'rcn_y']].sample(20)

       projectID   rcn_x      rcn_y
14585  101135948  258519        NaN
5386   101135547  258361        NaN
11915  101040472  238163        NaN
15097  101072377  241142        NaN
13578  101098722  243891  1267572.0
3161   101079184  240831        NaN
2968   101148969  264572        NaN
12138  101060504  241203  1124944.0
863    101199180  269202        NaN
2498   101105332  250560        NaN
541    101149215  263029        NaN
10636  101142840  267823        NaN
4029   101058393  241787   956819.0
9842   101162204  266017        NaN
12385  101109035  251254        NaN
9097   101141682  264927        NaN
15016  101132581  257871        NaN
11958  101040996  240487        NaN
4217   101121342  255463        NaN
12087  101129655  257665        NaN

In [132]:
# check if there are missings for both rcn columns pages 
(df_merged['rcn_x'].isna() & df_merged['rcn_y'].isna()).sum() #based on the explorative analysis, rcn_x is kept

0

In [134]:
# check if rcn_x has any missings (0, so rcn_y can be left out - rcn_y has 12182 missings) 
df_merged['rcn_x'].isna().sum()

0

In [136]:
df_merged['rcn_y'].isna().sum()

12182

To check contentUpdateDate_x and contentUpdateDate_y

In [146]:
# to see how many contentUpdateDates are the same between the two columns
(df_merged['contentUpdateDate_x'] == df_merged['contentUpdateDate_y']).value_counts()

False    15863
Name: count, dtype: int64

In [148]:
# identify rows where contentUpdateDates are not equal between the two columns
df_merged[df_merged['contentUpdateDate_x'] != df_merged['contentUpdateDate_y']][['contentUpdateDate_x', 'contentUpdateDate_y']]

       contentUpdateDate_x  contentUpdateDate_y
0      2024-12-24 11:18:48                  NaN
1      2022-12-01 14:09:06  2024-12-12 14:10:43
2      2022-12-11 19:02:29  2024-10-22 16:23:36
3      2023-09-19 19:01:01                  NaN
4      2023-07-11 15:45:49  2024-05-03 15:06:22
...                    ...                  ...
15858  2023-03-10 20:23:58  2024-04-22 10:48:08
15859  2023-10-13 14:43:57                  NaN
15860  2022-09-14 19:17:24  2024-04-22 10:48:08
15861  2024-04-22 17:56:03                  NaN
15862  2023-11-08 18:09:10                  NaN

[15863 rows x 2 columns]

In [150]:
# print to see the 20 projects (to see if contentUpdateDates overlap, ...)
df_merged[df_merged['contentUpdateDate_x'] != df_merged['title_y']][['projectID', 'contentUpdateDate_x', 'contentUpdateDate_y']].sample(20)

       projectID  contentUpdateDate_x  contentUpdateDate_y
8261   101088427  2023-07-13 18:34:20                  NaN
13177  101055053  2024-09-06 18:38:28                  NaN
6487   101166201  2024-07-23 10:04:23                  NaN
11874  101039378  2022-07-05 09:26:09                  NaN
1423   101153804  2024-09-06 18:23:17                  NaN
7302   101082265  2023-06-29 13:51:21                  NaN
8112   101124680  2024-09-06 18:25:13                  NaN
9196   101089213  2023-07-13 18:44:49                  NaN
4730   101159827  2024-05-20 14:32:18                  NaN
304    101086741  2024-09-06 18:26:08  2024-07-29 11:51:10
14800  101081776  2022-10-10 14:02:13  2024-12-24 10:22:10
3220   101096309  2022-12-30 17:14:52  2025-01-03 10:46:27
13029  101105768  2023-07-11 16:11:09                  NaN
154    101114192  2023-06-28 17:05:36  2024-12-17 14:30:07
14398  101069705  2022-06-24 18:00:10  2024-11-18 14:55:01
14239  101168906  2024-06-10 15:57:07                  NaN
6042   101185509  2024-12-17 11:14:25                  NaN
10271  101088063  2023-11-03 14:18:36                  NaN
2715   101106814  2023-06-28 16:55:54                  NaN
6902   101075496  2022-09-04 12:47:56  2024-07-08 12:27:20

In [152]:
# check if there are missings for both contentUpdateDate columns pages 
(df_merged['contentUpdateDate_x'].isna() & df_merged['contentUpdateDate_y'].isna()).sum() #based on the explorative analysis, rcn_x is kept

0

In [154]:
# check if contentUpdateDate_x has any missings (0, contentUpdateDate_y has 12182 missings) 
df_merged['contentUpdateDate_x'].isna().sum()

0

In [142]:
# missings contentUpdateDate_y (12182 missing)
df_merged['contentUpdateDate_y'].isna().sum()

12182

To check for acronymn (acronym & projectAcronym)

In [167]:
# to see how many acronymns are the same between the two columns (3681 are equal, 12182 not (are missings, see below))
(df_merged['acronym'] == df_merged['projectAcronym']).value_counts()

False    12182
True      3681
Name: count, dtype: int64

In [165]:
# identify rows where acronyms are not equal between the two columns
df_merged[df_merged['acronym'] != df_merged['projectAcronym']][['acronym', 'projectAcronym']]

            acronym projectAcronym
0         PvSeroRDT            NaN
3      CHIKVAX_CHIM            NaN
6             EPiTB            NaN
7         CECABI II            NaN
10      CO-INVESTIN            NaN
...             ...            ...
15852    Ecosys4you            NaN
15855   EU TalentON            NaN
15859  RESAVER_2023            NaN
15861     EUCYS2024            NaN
15862      CO-VALUE            NaN

[12182 rows x 2 columns]

In [163]:
# print to see the 20 projects (to see if contentUpdateDates overlap, ...)
df_merged[df_merged['acronym'] != df_merged['projectAcronym']][['projectID', 'acronym', 'projectAcronym']].sample(20)

       projectID         acronym projectAcronym
8913   101162939           I-BOT            NaN
11223  101157280         DYNALIP            NaN
7787   101172887         EnerTEF            NaN
10493  101089326  AssemblingLife            NaN
791    101151099     MyeMembrane            NaN
4492   101103870        TAKEBACK            NaN
14778  101191695       STRONG-UR            NaN
1736   101197406    HUPRES-SMART            NaN
4133   101081749         Cochisa            NaN
3987   101168752          SECRET            NaN
8991   101125937       EvolSWARM            NaN
1414   101211206       FORCEFuel            NaN
3005   101064225       NEARCOAST            NaN
7399   101131771       Lasers4EU            NaN
11806  101040070          FARRIO            NaN
5124   101135486        DigiCell            NaN
14200  101156363      BioINSouth            NaN
3761   101111203         PERSONA            NaN
8667   101161287      DISCO-DATA            NaN
14470  101103954           DISCO            NaN

In [161]:
# check if there are missings for both acronyms columns pages 
(df_merged['acronym'].isna() & df_merged['projectAcronym'].isna()).sum() #based on the explorative analysis, acronym is kept

0

In [159]:
# check if acronym has any missings (0, projectAcronym has 12182 missings) 
df_merged['acronym'].isna().sum()

0

In [157]:
# missings projectAcronym (12182 missing)
df_merged['projectAcronym'].isna().sum()

12182

Based on the analysis: the variables title_x, rcn_x, contentUpDate_x and acronym are kept (delete other columns)

In [ ]:
# delete other columns

In [ ]:
# check necesaty of other variables

In [ ]:
# missing values of columns in new dataset 
missing_values = df_merged.isna().sum()
missing_values_df = missing_values[missing_values > 0].reset_index()
missing_values_df.columns = ['Column', 'Missing Values']
missing_values_df = missing_values_df.sort_values(by='Missing Values', ascending=False)
print(missing_values_df) #based on the missing table the variable 'nature' is dropped, as it if missing for all values
# based on the explorative analysis of the excel files, the variable attachment (an image + high missings) is dropped

                Column  Missing Values
1               nature           15863
6           attachment           14043
3                   id           12182
4              title_y           12182
5       projectAcronym           12182
7  contentUpdateDate_y           12182
8                rcn_y           12182
2             grantDoi              61
0      ecSignatureDate               1

In [1]:
print(df_merged['id'].head()) #id = projectID_PSHORIZON -> also quite high missings (so dropped as no extra information is given when keeping this variable)

NameError: name 'df_merged' is not defined